/* THE START OF SETTINGS MENU */

.settingsBtn {
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 120%;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin: 17px 20px 0 2%;
}

.settingsBtn i {
    color: #fff;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 5px 1px #000;
}

.settings-wrapper {
    width: 380px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    background-color: #000;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transform: translate(-50%, -50%);
    margin: auto auto;
    z-index: 4;
}

legend {
    width: 55px;
    height: 55px;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 50%;
    text-align: center;
    font-size: 200%;
    line-height: 30px;
    color: #DFDEE0;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 3.5px 0px #5f5f5f,
    0 4px 0px #5f5f5f,
    0 7px 1px #000;
    padding: 2%;
}

.settingBtns {
    width: 100%;
    text-shadow: 3px 3px 2px #4d4d4d;
}

.settingBtnborder {
    width: 60%;
    height: 60px;
    display: inline-flex;
    background-color: #1e1e1f;
    box-shadow: 2px 1px 2px #DFDEE0,
    -2px -1px 2px #1d1d1d,
    inset -5px -5px 10px #000000,
    inset 3px 3px 10px #DFDEE0;
    border-radius: 30px;
    padding-right: 1%;
    margin-top: 5%;
    margin-left: 20%;
}

/* BUTTONS - MUSIC AND SOUND */

.btnControls {
    width: 70px;
    height: 70px;
    position: relative;
    background-color: #2B2B2C;
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 20px;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.music, .sound {
    width: 50px;
    height: 50px;
    background-color: #DFDEE0;
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    font-size: 200%;
    line-height: 50px;
}

.music, .sound {
    display: inline-flex;
    font-size: 130%;
    line-height: 50px;
}

#musicBtnOff {
    margin: 4.5px 0 15% 2%;
}

#musicBtnOn, #soundBtnOn  {
    display: none;
    margin: 4.5px 0 15% 77.5%;
}

#soundBtnOff {
    margin: 4.5px 0 0 2%;
}

#musicBtnOff, #musicBtnOn,  #soundBtnOff, #soundBtnOn {
    box-shadow: 1px 1px 3px #111111,
    -1px -1px 3px #7c7c7c,
    -1px 1px 3px #111111,
    1px -1px 3px #7c7c7c;
}

#musicBtnOff:hover, #musicBtnOn:hover, #soundBtnOff:hover, #soundBtnOn:hover {
    box-shadow: inset 1px 1px 3px #111111,
    inset -1px -1px 3px #7c7c7c,
    inset -1px 1px 3px #111111,
    inset 1px -1px 3px #7c7c7c;
}

#musicBtnOff i, #soundBtnOff i{
    padding: 18% 0 0 22.5%;
}

#musicBtnOff i:before {
    padding: 18% 17px 0 0;
}

#musicBtnOn i {
    padding: 17% 4% 0 0;
}

#soundBtnOn i{
    padding: 18% 0 0 15%;
}

/* THE START OF GAMEBOARD SECTION */

.game-border {
    width: 37.4%;
    height: 78.8vmin;
    position: absolute;
    margin: -110px 0 0 17%;
}

.board {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(26, 1fr);
    background-color: #0d9b37;
    border-radius: 10px;
}

/* learned from tutorialspoint */
.board  {
    border: 2vmin solid #0c5321;
    border-image: url('../images/bush.webp');
    border-image-slice: 20;
    border-image-width: 1 1 1 1;
    border-image-outset: 0.2;
    border-image-repeat: round;
}

.score-wrapper {
    width: 103.5%;
    text-align: center;
    margin-bottom: 1%;
}

.score-board {
    width: 77.8vmin;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    font-size: 120%;
    font-weight: 700;
    border: 3px solid #000;
    border-style: double;
    padding: 0.5%;
}

.score-board p {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.score-board span {
    padding: 0 0 0 10%;
}

/* START OF GAME OVER AND RESTART */

.game-over {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    text-align: center;
    font-size: 400%;
    transform: translate(-50%, -50%);
}

.restart {
    width: 100px;
    height: 100px;
    font-size: 90%;
    line-height: 100px;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #F0F0F0,
    inset -2px -2px 4px #3B3B3B;
    margin: 0 0 0 45%;
}

.restart:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
}

.restart i:hover {
    transition: all 0.5s;
    transform: rotate(-360deg);
}

/*  THE START OF CONTROLS SECTIONS */

.controls {
    position: absolute;
    right: 0;
    margin: 10% 11% 0 0;
}

#upBtn {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px;
}

#leftBtn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 20px;
}

#rightBtn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 20px;
}

#downBtn {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
}